#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

code {
  background-color: #f4f4f4;
  padding: 0.2em 0.4em;
  margin: 0 0.2em;
  border-radius: 3px;
  font-family: 'Courier New', monospace;
  color: #333;
}

@media (prefers-color-scheme: light) {
  code {
    background-color: #f9f9f9;
    color: #555;
  }
}
